doctype html
html(lang="en")
  head
    title='Conclave'
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel='stylesheet' href='css/style.css')
  body
    p(id='newRoot') The host has left the room. Do NOT refresh your page! Follow this link instead.
    a(id='newLink') placeholder
    h1 Conclave
    button(type='button' id='download') Download Document
    button(type='button' id='upload') Upload
    input(type='file' id='file')
    #wrapper.hide
      textarea(row='10' col='20')
      video
    p Sharing Link:
      a(id='myLink')
    p(id='peerId') Connected peers:
    script.
      const gTARGETPEERID = '#{id}'
      const gADDRESS = '#{address}'
      const gHOST = "#{host}"
      const gPORT = "#{port}"

      console.log(gTARGETPEERID, gADDRESS, gHOST, gPORT)
    script(src='js/bundle.js')
